* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("./assets/a.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  background-color: rgba(50, 85, 87, 0.384);
  
}

main {
  min-height: 100vh;
}

.content-box {
  display: block;
  height: 450px;
  width: 80%;
  background: rgba(142, 186, 236, 0.445);
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1000;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(200, 216, 192, 0.568);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.3);
  color: #313131;
  font-size: 25px;
  transition: 0.4s ease;
  text-align: center;
  z-index: 2000;
}

.location-box {
  display: flex;
  border: none;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 1px 15px grey;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  font-size: 25px;
  word-wrap: break-word;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.location-box .date {
  padding-left: 1%;
  color: black;
}

.location-box .location {
  color: red;
}

.weather-box {
  display: block;
  height: 120px;
  width: 180px;
  border-radius: 10px;
  border: none;
  background-color: rgba(120, 189, 221, 0.39);
  margin: 0 auto;
  text-align: center;
}

.weather-box .temp {
  color: red;
  position: relative;
  font-size: 40px;
  padding-top: 15px;
}

.weather-box .weather {
  color: black;
  position: relative;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 1px 15px black;
  padding-top: 15px;
}

.error {
  font-size: 60px;
  color: black;
}
